div{
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
    background-color: lime;
}
header{
    padding-bottom: 2.5%;
    background-color: greenyellow;
    padding: auto;
    
}
.left{
    width: 88.85%;
    min-height: 100px;
    background-color: sandybrown;
    float: left;
    
    padding: auto;
}
.right{
    width: auto;
    min-height: 100px;
    background-color: lightgray;
    float: right;

    padding: auto;
}
.footer{
    float: both;
    background-color: aquamarine;
    min-height: 80px;
    padding-top: 50px;

}