*{
    margin: 0;
    padding: 0;
}

.rainbow{
    padding: 20px;
    margin: 20px;
    border: 5px black solid !important;
    color: white;
    font-size: 2rem;
}

@keyframes bounce{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.rainbow{
    animation-name: bounce;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}