div{
    width: 800px;
    border: 1px solid black;
    margin: 200px auto;
}
img{
    width: 30%;
}
#a{
    transform: rotate3d(0,0,1,45deg);
}

#b{
    transform: rotate3d(0,1,0,45deg);
}
#c{
    transform: rotate3d(1,0,0,45deg);
}