*{
    margin: 0;
    padding: 0;
}

div{
    padding: 20px;
    margin: 20px;
    border: 5px black solid !important;
    color: white;
    font-size: 2rem;
}

.ball{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;

    animation-name: bounce;
    animation-duration: 3s;
    animation-delay: -4s;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(500px) translateX(6em);
    }
    
}