div{
    width: 800px;
    border: 1px solid black;
    margin: 200px auto;
}
img{
    width: 20%;
}

#one #a{
    transform: rotate(45deg);
}

#one #b{
    transform: rotate(-45deg);
}
#one #c{
    transform: rotate(-100deg);
}
#one #d{
    transform: rotate(175deg);
}

