body{
    font-size: 140%;
}

ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

li{
    margin: 0.75em 0;
    padding: 0.5em 1em;
    width: auto;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    flex-grow: 0;
    border-width: 5px;
    border-color: gray;
    border: 5px;
}

#a101{
    outline: medium solid olive;
}
#a102{
    outline: 0.5em dotted purple;
}

#a103{
    outline: double 4px gray;
}
#a104{
    outline: teal 1mm inset;
}
#a105{
    outline: groove red 8px;
}
#a106{
    outline: green dashed 10px;
}

img{
    width: 150px;
    height: 150px;
}